/*=====================================
        SCROLL BAR
======================================*/

.scroll-progress{

position:fixed;

top:0;

left:0;

height:4px;

width:0;

background:linear-gradient(
90deg,
#00D26A,
#0094FF
);

z-index:99999;

}

/*=====================================
        CURSOR GLOW
======================================*/

.cursor-glow{

    position:fixed;

    width:320px;

    height:320px;

    border-radius:50%;

    pointer-events:none;

    background:radial-gradient(

        rgba(0,210,106,.12),

        transparent 70%

    );

    transform:translate(-50%,-50%);

    filter:blur(50px);

    opacity:.6;

    z-index:-999;

}