/* ======================================
   ChargeWala Design System
======================================*/

:root{

    /* Colors */

    --primary:#00D26A;

    --primary-dark:#00B95E;

    --secondary:#0094FF;

    --dark:#07111F;

    --white:#FFFFFF;

    --bg:#F8FAFC;

    --text:#1F2937;

    --gray:#6B7280;

    --border:#E5E7EB;

    /* Radius */

    --radius-sm:10px;

    --radius-md:18px;

    --radius-lg:28px;

    --radius-xl:40px;

    /* Shadow */

    --shadow-sm:0 5px 15px rgba(0,0,0,.05);

    --shadow-md:0 10px 30px rgba(0,0,0,.08);

    --shadow-lg:0 20px 60px rgba(0,0,0,.12);

    /* Transition */

    --transition:.35s ease;

}