<nav class="navbar">

    <div class="container nav-container">
<a href="index.html" class="logo">

    <img
        src="assets/images/logo.png"
        alt="ChargeWala Logo">

</a>

        <ul class="nav-links">

            <li><a href="index.html">Home</a></li>

            <li>
                <a href="find-stations.html">
                    Find Stations
                </a>
            </li>

            <li><a href="about.html">About</a></li>

            <li><a href="reviews.html">Reviews</a></li>

            <li><a href="faq.html">FAQ</a></li>

            <li><a href="contact.html">Contact</a></li>

        </ul>

        <div class="nav-right">

            <button class="theme-btn" aria-label="Theme">
                🌙
            </button>

            <a href="download.html" class="btn">
                Download App
            </a>

        </div>

        <button class="menu-btn" aria-label="Menu">

            <span></span>
            <span></span>
            <span></span>

        </button>

    </div>

</nav>

<div class="menu-overlay"></div>